/*add fonts */
.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F5F8FF;
}

/*add color */
.color-primary {
    color: #4E47FF;
}
.color-heading {
    color: #252432;
}
h1, h2, h3, h4, h5, h6 {
    color: #252432;
}
/* header style */
.header {
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding: 51px 0;
}
.nav-title {
    font-size: 34px;
    font-weight: 900;
}
.btn-primary {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 14.5px 36px;
    border-radius: 10px;
    background: #4E47FF;
    transition: .3s;
    cursor: pointer;
}
.btn-primary:hover {
    color: #fff;
    background: #252432;
}
.hero-container {
    margin: 0 150px;
    text-align: center;
    padding: 158px 0 150px;
}
.hero-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 36px;
}
/* action section style start */
.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 159px 0 140px;
    padding-top: 116px;
}
.action-left {
    width: 517px;
}
.action-left .title {
    font-size: 42px;
    font-weight: 700;
}
.action-left .content {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 13px 0 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-right {
    border-radius: 48px;
    overflow: hidden;
}

/* user section style start */
.user-container {
    border-radius: 24px;
    padding: 50px 80px;
    padding: 50px 142px;
    margin: 116px 159px 0 140px;
    background: rgba(78, 71, 255, 0.1);
}
.user-title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: #252432;
    margin-bottom: 40px;
}
.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.user-item li {
    text-align: center;              
}
.user-item li h2 {
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    text-transform: uppercase; 
    font-family: "Inter", sans-serif;                            
}
.user-item li span {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);                                
}
/* user section style end */

/* feedback section style start */
.feedback-container {
    padding-top: 132px;
    padding-bottom: 137px;
    margin: 0 149px 0 151px;
}
.feedback-title {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #252432;
    margin-bottom: 45px;
}
.feedback-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
} 
.feedback-item {
    border: 1px solid #f2eded;
    border-radius: 14px;
    padding: 24px;
    width: 366px;
    padding: 24px;
    transition: .3s;
    background: rgba(255, 255, 255, 0.5);
}
.feedback-item:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.feedback-item .title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #1e1e1e;
    margin: 20px 0 8px;
}
.feedback-item .content {
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
}
.feedback-item .star-icon {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
}
.feedback-item .author {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 23px;
}
.feedback-item .avatar img {
    border-radius: 9999px;
    overflow: hidden;
}
.feedback-item .author-name {
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    text-transform: capitalize;
}
.feedback-item .date {
    font-weight: 400;
    font-size: 16px;
    color: #b3b3b3;
    font-family: "Inter", sans-serif;  
}
/* feedback section style end */

/* feature section style start */
.feature-container {
    background: #fff;
    padding: 71px 150px;
    border-radius: 14px;
    margin: 0 149px 0 151px;
    text-align: center;
}
.feature-container .title {
    font-weight: 700;
    font-size: 50px;
    color: #000;
}
.feature-container .content {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0 20px;
    color: rgba(0, 0, 0, 0.5);
}
.feature-container .image {
    margin-top: 20px;
    border-radius: 48px;
    overflow: hidden;
}
/* feature section style end */

/* contact section style start */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0;
    margin: 92px 150px 0;
}
.contact-column-left {
    width: 60%;
}
.contact-column-left .contact-title {
    font-weight: 700;
    font-size: 97px;
    line-height: 1.2;
    color: #000;
    
}
.contact-column-right {
    width: 40%;
}
.contact-form .input-field {
   margin-bottom: 20px;
}
.contact-form .input-field label {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    display: block;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}
.contact-form .input-field input, 
.contact-form .input-field textarea {
    border: 1px solid #d6dded;
    border-radius: 10px;
    padding: 20px 32px;
    height: 70px;
    background: #fff;
    width: 100%;
    font-family: "Inter", sans-serif;
}
.contact-form .input-field input:focus, 
.contact-form .input-field textarea:focus {
    border-color: 1px solid #4E47FF;
}
.contact-form .input-field textarea {
    height: 135px;
}
.contact-form .input-field input::placeholder,
.contact-form .input-field textarea::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.contact-form .contact-btn{
    width: 100%;
    padding: 21.5px 36px;
}
/* contact section style end */

/* footer section style start */
.footer-container {
    text-align: center;
    padding:  104px 430px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-container .content {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #8987a1;
    line-height: 24px;
    margin: 8px 0 25px;
}
.footer-container .footer-logo {
    font-weight: 900;
    font-size: 100px;
}
.footer-nav {
    display: inline-flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}
.footer-nav li a {
    font-weight: 400;
    font-size: 16px;
    color: #8987a1;
    text-decoration: none;
    transition: .3s;
}
.footer-nav li a:hover {
    color: #252432;
    text-decoration: underline;
}
/* footer section style end */
